.height100 {
  height: 100%;
}

.width100 {
  width: 100%;
}

.inputLayer {
  background-color: white;
}

.inputBox {
  font-size: 40px;
  line-height: 1.5;
  text-indent: 0.3rem;
  outline: none;
}

/* .inputBox::selection {
  background: transparent;
} */
